body {
    font-family: 'Inter', sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
}

main {
    width: 90%;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-group label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.input-group input,
.input-group select,
textarea {
    padding: 0.5rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/* Botões */
.buttons, input[type="submit"] {
    display: inline-block;
    text-align: center;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #D959BD;
    border: none;
}

.button-group button:hover {
    opacity: 0.9;
}