/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffcfe1;
  color: #333;
}

main {
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top-bar h1 {
  font-size: 1.5rem;
  color: #fff;
  background-color: #f68cbf;
  padding: 10px 15px;
  border-radius: 5px;
}

.search-bar {
  width: 60%;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.back-button:hover {
  background: #f68cbf;
  color: #fff;
}

/* Seções principais */
.content {
  display: flex;
  justify-content: space-between;
}

.left-column, .right-column {
  width: 45%;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
}

.add-package, .schedule {
  background: #f68cbf;
  border: none;
  color: #fff;
  padding: 8px 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.add-package:hover, .schedule:hover {
  background: #d1578f;
}

.right-column h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.right-column p {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
