main {
  width: 100%;
  display: flex;
}

.card-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #d9d9d9;
  width: 290px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2em 0;
  /* Espaço entre os cards */
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.card:hover {
  background-color: #ddd;
}

.imagem {
  flex: 1;
  background: url('../imgs/pretty-nail-art.png') no-repeat center center;
  min-height: 100%;
  /* Garante que ocupe toda a altura */
  background-size: cover;
}

/* Conteudo fora da main */

#servicos,
#pacotes {
  height: 350px;
  padding: 25px;
  margin-top: 10em;
  /*background-color: blue;*/
}

a .btn {
  background-color: white;
  padding: 0.8rem 1.5rem;
  border: 2px solid #de5cff;
  border-radius: 40px;
  font-size: 0.9rem;
  cursor: pointer;
}

a .btn:hover {
  background-color: #ddd;
  border: 2px solid #c04ee0;
}