body {
  margin: 0;
  box-sizing: border-box;
  background-color: #404040;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  background-color: #de5cff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  text-align: left;
  width: 90%;
  margin: 0 auto 1.5rem;
}

label {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 0.5rem;
  display: block;
}

input[type="password"] {
  width: 90%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}

input::placeholder {
  color: #777;
}
