main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.funcionario-card {
    width: 90%;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header img {
    background-color: gray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.concluded-btn {
    background-color: #D83CFF;
    color: white;
}

.info {
    margin: 20px 0;
}

.info p {
    margin: 10px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.actions button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn{
    background: none;
}

/*Estilização do pop-up*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}